

/*.download {
    display: block;
    width: 250px;
    padding: 20px 5px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 190px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: 300%;
    background-position: left;
    text-align: center;
    font-family: Helvetica;
    font-size: 32px;
    color: mintcream;
    text-decoration: none;
    transition: background-position 0.8s ease-in-out;
    animation: pop-in 0.6s ease-out forwards;
}

.download:hover {
    background-position: right;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 40px;
}

body {
    background-image: linear-gradient(to bottom right, rgb(0, 58, 128) 0%, rgb(95, 26, 99) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.a1 {
    display: inline-block;
    margin-left: 100px;
    margin-bottom: -250px;
    color: rgb(131, 192, 201);
}

.a2 {
    transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
    margin-top: 400px;
    display: inline-block;
    margin-left: 10px;
    color: blue;
    height: 0;
    width: 0;
}
.image-main {
    margin: 0;
    margin-top: -330px;
    margin-left: 900px;
    height: 520px;
    transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
    box-shadow: 2em 4em 6em -2em rgba(198, 135, 227, 0.5), 1em 2em 3.5em -2.5em rgba(216, 124, 124, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 0.4em;
    border: 2px solid #1b1f3b;
    position: absolute;
}

.image-main:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}

@media screen and (max-width: 1540px) {
    .image-main {
        margin-top: 230px;
        height: 400px;
        width: auto;
        margin-left: 650px;
    }
    .main {
        margin-top: 20px;
    }
    .image-main:hover ~ .a2, 
    .image-main:hover ~ .made-by,
    .image-main:hover ~ .best-browser-thing {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}
.best-browser-thing {
    text-shadow: #932a2a;
    margin-left: 30px;
    margin-top: 400px;
    color: rgb(131, 192, 201);
    position: absolute;
    display: inline-block;
}

.dot {
    color: rgb(131, 192, 201);
    font-size: 2em;
    vertical-align: middle;
    margin-left: 5px;
    
}

    .a2 {
        transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
        margin-top: 120px;
        transition: transform 0.4s ease;
        display: inline-block;
        margin-left: 895px;
        color: rgb(131, 192, 201);
        height: 0;
        width: 0;
        
    }
    
    .made-by {
        color: rgb(0, 200, 255);
        transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
        width: auto;
        font-size: smaller;
        transition: transform 0.4s ease;
        margin-left: 690px;
        
    }
    .footer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(9, 63, 50, 0.616);
        color: white;
        padding: 10px;
        text-align: center;
        z-index: 1000;
    }

    .footer a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        font-size: 18px;
    }

    .footer a:hover {
        color:rgb(0, 200, 255);
        text-decoration: underline;
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 500px;
        padding: 0 100px;
    }
    
    #info, #info2 {
        margin-top: 120px;
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(32, 4, 52);
        color: rgb(131, 192, 201);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.6;
        
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    #info:hover, #info2:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    }
    
    #info2 > #info-text2 {
        font-size: 0.5em; 
    }
    #info > #info-text {
        font-size: 0.5em;
    }
    #info2:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    }
    #info:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    }
    html {
        scroll-behavior: smooth;
    }
    .what {
        margin-top: 410px;
        text-align: center;
        color: rgb(131, 192, 201);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    .devs {
        margin-top: 70px;
        text-align: center;
        color: rgb(131, 192, 201);
    }
    .dev-grid {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
        padding: 1rem;
        background-color: rgba(0, 58, 128, 0.47);
        border-radius: 15px;
        overflow-x: auto;
        white-space: nowrap;
        max-height: 70vh; 
        margin-bottom: 2rem;
        
    }
    
    .dev-card {
        background-color: rgb(75, 11, 120);
        padding: 0.8rem;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        display: inline-block;
        width: 300px;
        margin-right: 1rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .dev-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    }
    .dev-pfp {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 1rem;
        object-fit: cover;
        border: 3px solid #fff;
    }
    
    .github-icon img {
        width: 30px;
        height: 30px;
        margin-top: 1rem;
        display: inline-block;
    }
    
    .dev-card h3 {
        font-size: 1rem;
        margin: 0.5rem 0;
        font-weight: bold;
    }
    
    .dev-card p {
        font-size: 0.4rem;
        margin: 0.5rem 0;
        color: #b0b0b0;
    }
}
@media screen and (max-width: 1370px){
    .image-main {
        margin-top: 230px;
        height: 350px;
        width: auto;
        margin-left: 650px;
    }
    .a2 {
        transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
        margin-top: 120px;
        transition: transform 0.4s ease;
        display: inline-block;
        margin-left: 853px;
        color: rgb(131, 192, 201);
        height: 0;
        width: 0;
        
    }
    .made-by {
        color: rgb(0, 200, 255);
        transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
        width: auto;
        font-size: 0.7em;
        transition: transform 0.4s ease;
        margin-left: 694px;  
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 700px;
        padding: 0 100px;
    }
    .what {
        margin-top: 600px;
        text-align: center;
        color: rgb(131, 192, 201);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        #about {
            position: absolute;
            margin-top: 600px;
        }
        #info, #info2 {
            
            margin-top: 120px;
            width: 100%;
            max-width: 600px;
            padding: 20px;
            border-radius: 10px;
            background-color: rgb(32, 4, 52);
            color: rgb(131, 192, 201);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            font-size: 1.1rem;
            line-height: 1.6;
            
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        #info:hover, #info2:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
        }
        
        #info2 > #info-text2 {
            font-size: 0.5em; 
        }
        #info > #info-text {
            font-size: 0.5em;
        }
        #info2:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
        }
        #info:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
        }
        .devs {
            text-align: center;
            color: rgb(131, 192, 201);
            position: absolute;
            top: 215%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .dev-grid {
            margin-top: 340px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 2rem;
            padding: 1rem;
            background-color: rgba(0, 58, 128, 0.47);
            border-radius: 15px;
            overflow-x: auto;
            white-space: nowrap;
            max-height: 70vh; 
            margin-bottom: 2rem;
        }
        
.gloss {
    
            position: absolute;
            color: rgb(19, 219, 189);
            top: 103%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 2em 4em 6em -2em rgba(198, 135, 227, 0.5), 1em 2em 3.5em -2.5em rgba(216, 124, 124, 0.5);
            transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.gloss a {
    text-decoration: none;
    color:rgb(19, 113, 139)
}
.gloss a:hover {
    box-shadow: 2em 4em 6em -2em rgba(227, 218, 231, 0.5), 1em 2em 3.5em -2.5em rgba(218, 211, 211, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    text-decoration: underline;
}


}
